html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  font-family: 'Nothing You Could Do', cursive;
}

.column {
  flex: 24%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.container {
  position: relative;
  height: auto;
}

.overlay {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: white;
  width: auto;
  padding: 10px;
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .3s ease;
  background: black;
}

.container:hover .overlay {
  opacity: .5;
}

.overlayText {
  width: 100%;
  text-align: center;
  cursor: default;
}

@media screen and (max-width: 800px) {
  
  .column {
    flex: 50%;
    max-width: 48%;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}