html, body {
  height: 100%;
  width: 100%;
  background: lightskyblue;
}

.mainContainer {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 75px 0 75px 0;
}

.galleryContainer {
  background: ivory;
  padding-bottom: 10px;
  font-family: 'Nothing You Could Do', cursive;
}

.flexContainer {
  display: flex;
  margin: 10px;
}

.flexContainer1 {
  height: 154px;
}

.flexContainer2 {
  height: 178.5px;
}

.flexContainer3 {
  height: 157px;
}

.container {
  position: relative;
  height: 100%;
  margin: 5px;
}

img {
  height: 100%;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  width: auto;
  padding: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background: black;
}

.container:hover .overlay {
  opacity: .5;
}

.overlayText {
  max-width: 100%;
  text-align: center;
  cursor: default;
}