html, body {
  height: 100%;
  width: 100%;
  background: lightgray;
}

.mainContainer {
  width: 100%;
}

.flexContainer {
  display: flex;
  margin: 10px auto;
}

.flexContainer1 {
  height: 154px;
}

.flexContainer2 {
  height: 148px;
}

.flexContainer3 {
  height: 152px;
}

.container {
  position: relative;
  height: 100%;
  margin: 5px;
}

img {
  height: 100%;
}

.pups {
  width: 73%;
  object-fit: cover;
  object-position: 100% 70%;

}

.whitePup {
  width: 47%;
  object-fit: cover;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  color: white;
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background: black;
}

.container:hover .overlay {
  opacity: .5;
}

.pupper {
  width: 73%;
}

.pupOverlay {
  width: 47%;
}

.overlayText {
  max-width: 100%;
  text-align: center;
  cursor: default;
}